body {
    font-family: 'Roboto', sans-serif !important;
}

/* font sizes and extra */
.roboto-100 {
    font-weight: 100 !important;
}
.roboto-300 {
    font-weight: 300 !important;
}

.roboto-400{
    font-weight: 400 !important;
}

.roboto-500{
    font-weight: 500 !important;
}

.roboto-700{
    font-weight: 700 !important;
}

.roboto-900{
    font-weight: 900 !important;
}

.line-down{
    letter-spacing: -4px;
}

.font-weight-normal {
    font-weight: normal;
}

.custom-button-black{
    border-radius: 50px !important;
    width:13%;
    background-color: black !important;
    white-space: nowrap; 
    min-width: 150px;
}

.custom-button-white{
    border-radius: 50px !important;
    border: 1px rgb(226, 220, 220) solid !important;
    width:25%;
    min-width: 130px;
    color:black !important;
}

.mb-100 {
    margin-bottom: 100px; 
}

.mt-80 {
    margin-top: 80px;
}
.mt-220 {
    margin-top: 220px;
}

.mt-100 {
    margin-top:100px;
}
/* top-nav */

/* carousel top */
.car-back {
    background-color: rgb(255, 225, 189);
}

.carousel .carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 1px black solid !important;
    background-color: rgb(255, 225, 189);
}

.carousel-indicators .active{
    background-color: black !important;
}

.car-rotate {
    transform: rotate(270deg);
}

.car-undo-rotate {
    transform: rotate(90deg);
}

.car-fix-top {
    object-fit: cover;
    object-position: center;
    height: 55vh;
    overflow: hidden;
}

/* what we do section */

.content-text {
    margin: 75px 75px;
}

.content-texts {
    color:grey;
    font-size: 20px;
}

/* our best work section */

.padding-bottom {
    padding-bottom: 24px;
}

/* our best team section */

.img-borders {
    border-radius: 50% !important;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 5rem !important;
    width: 5rem !important;
}

.carousel-control-next, .carousel-control-prev {
    opacity:1 !important; 
}


.carousel-control-next-icon:hover, .carousel-control-prev-icon:hover {
    filter: invert(1) grayscale(100);
}

.car-fix {
    object-fit: cover;
    object-position: center;
    height: 85vh;
    overflow: hidden;
}

