body {
    font-family: 'Roboto', sans-serif !important;
}

/* font sizes, weights and extra */
.roboto-100 {
    font-weight: 100 !important;
}
.roboto-300 {
    font-weight: 300 !important;
}

.roboto-400{
    font-weight: 400 !important;
}

.roboto-500{
    font-weight: 500 !important;
}

.roboto-700{
    font-weight: 700 !important;
}

.roboto-900{
    font-weight: 900 !important;
}

.line-down{
    letter-spacing: -4px;
}

.font-weight-normal {
    font-weight: normal;
}

.custom-button-black{
    border-radius: 50px !important;
    width:13%;
    background-color: black !important;
    white-space: nowrap; 
    min-width: 150px;
}

.custom-button-black:hover {
    background-color: rgb(255, 203, 147) !important;
    color:black !important;
    border-color: rgb(255, 203, 147) !important;

}

.custom-button-white{
    border-radius: 50px !important;
    border: 1px rgb(226, 220, 220) solid !important;
    width:25%;
    min-width: 130px;
    color:black !important;
    background-color: white !important;
}

.custom-button-white-darkback {
    border-radius: 50px !important;
    border: 1px rgb(226, 220, 220) solid !important;
    width:25%;
    min-width: 130px;
    color:black !important;
    background-color: white !important;
}

.custom-button-white-darkback:hover {
    background-color: rgb(255, 203, 147) !important;
}

.custom-button-white:hover {
    border: 1px black solid !important;
}

.top-carousel .item a, .best-team .item a, .what-we-do a, .our-best-work a:hover, .our-best-work a{
    color: inherit;
}

.mb-100 {
    margin-bottom: 100px; 
}

.mb-80 {
    margin-bottom: 80px;
}

.mt-80 {
    margin-top: 80px;
}
.mt-220 {
    margin-top: 220px;
}

.mt-100 {
    margin-top:100px;
}

.mb-160 {
    margin-bottom:160px;
}

.mb-180 {
    margin-bottom: 180px;
}

.pt-80 {
    padding-top: 80px;
}

.pb-80 {
    padding-bottom: 80px;
}

.text-grey {
    color:grey;
}

.bck-yellow {
    background-color: rgb(255, 225, 189);
}

.fs-20 {
    font-size: 20px;
}
/* top-nav */

.navigation a:hover {
    cursor: pointer;
    opacity: 100% !important;
    color: black !important;
}

.menu-item2::before {
    position: absolute;
    left: 50;
    top: 2em;
    height: 0;
    width: 40px;
    content: '';
    border-top: 2px solid black;
    visibility: hidden;
}

.menu-item2.special::before {

    visibility: visible;
}


/* carousel top */

.resp-f-size {
    font-size: calc(1rem + 1.5vw);
}

.carousel .carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 1px black solid !important;
    background-color: none;
}

.carousel-indicators .active{
    background-color: black !important;
}

.car-rotate {
    transform: rotate(270deg);
}

.car-undo-rotate {
    transform: rotate(90deg);
}

.car-rotate-180 {
    transform: rotate(180deg);
}

.car-fix-top {
    object-fit: cover;
    object-position: center;
    height: 55vh;
    overflow: hidden;
}

.indi-right {
    left: auto !important;
    margin-right: auto !important;
    bottom: 45% !important;
}

.car-controls-down {
    top:auto !important;
    width:100% !important;
}

.car-controls-up {
    bottom:auto !important;
    width:100% !important;
}

.top-carousel .item a:hover, .best-team .item a:hover {
    color: rgb(255, 203, 147);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    cursor: pointer;
}

/* what we do section */

.resp-f-size2 {
    font-size: calc(1.275rem + .7vw);
}

.what-we-do a:hover {
    color: rgb(255, 225, 189);
}
/* our best work section */

.padding-bottom {
    padding-bottom: 24px;
}

.mhw-364 {
    max-width:364px;
    max-height:364px;
}

.mhw-364x590 {
    max-width:364px;
    max-height:590px;
}

.mb-13prc {
    margin-bottom:13%;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 9999s, opacity 0.1s linear;
}
  
.mhw-364:hover .hidden, .mhw-364x590:hover .hidden {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}
  

/* our best team section */

.img-borders {
    border-radius: 50% !important;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 5rem !important;
    width: 5rem !important;
}

.carousel-control-next, .carousel-control-prev {
    opacity:1 !important; 
}


.carousel-control-next-icon:hover, .carousel-control-prev-icon:hover {
    filter: invert(1) grayscale(100);
}

.car-fix {
    object-fit: cover;
    object-position: center;
    height: 80vh;
    overflow: hidden;
}

.car-indi-bottom-team {
    bottom: 8% !important;
}

/* clients says section */

.car-indi-bottom {
    bottom: 15% !important;
}

/* get in touch section */

.get-in-touch {
    background-color: black;
    color:white;

    object-fit: cover;
    object-position: center;
    height: 115vh;
    overflow: hidden;
}

#message {
    resize: none !important;
}

#name, #message, #email {
    background-color: black !important;
    width:100%;
    margin-bottom: 45px;
    color:white;
    font-size: 20px;
    padding-bottom:10px;
}

#name, #email {
    border-top: none;
    border-left:none;
    border-right: none;
    border-bottom: 1px grey solid;
}

.label-message {
    color:grey;
    opacity: 80%;
    font-size: 18px;
}

#message {
    border-left:none;
    border-right: none;
    height:100px;
}

.get-in-touch .d-flex img:hover{
    filter: opacity(0.7) drop-shadow(0 0 0 rgb(207, 107, 0)); 
}


.f-resp-b {
    font-size: 95% !important;
}

/* media */

@media screen and (max-width:1200px) {
    .get-in-touch .d-flex {
        width:100% !important; 
    }
    .r-br-1200 br {
        display: none;
    }
}

@media screen and (max-width:767px) {
    .media-width-100 .item {
        width:100% !important; 
    }

    .media-margin-50 {
        margin-bottom: 50px;
    }

}

@media screen and (max-width:992px) {
    .indi-right {
        bottom:80% !important;
    }
}

@media screen and (min-width:992px) {
    .get-in-touch {
        height: 80vh !important;
    }
}

@media screen and (max-width:498px) {
    .r-max-br br {
        display: none;
    }

}

/* name specific */
@media screen and (min-width:498px) {
    .r-min-br br {
        display: none;
    }

}
